.placeholder {
  color: var(--gray-2);
  font-size: 1.4rem;
}

.item-content > h4 {
  margin-bottom: 3.2rem;
}

.action-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
