.placeholder {
  color: var(--gray-2);
  font-size: 1.4rem;
}

.item-content > h4 {
  margin-bottom: 3.2rem;
}

.action-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 160px;
  box-shadow: 0px 6px 12px var(--gray-1);
  padding: 1.2rem 0;
  z-index: 1;
  top: 0;
}

.dropdown-content > p {
  cursor: pointer;
  padding: 1rem 1.2rem;
}

.dropdown-content > p:hover {
  background-color: var(--bg-purple);
  color: var(--purple);
}

.dropdown:hover .dropdown-content {
  display: block;
}
