.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 6.8rem;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  padding: 1.6rem 0.5rem;
  background-color: var(--dark-1);
}

.sidebar h1 {
  color: var(--white);
}

.content {
  height: 100%;
  width: calc(100vw - 6.8rem);
  padding: 1.6rem 3.2rem;
  margin-left: 6.8rem;
}

.content > section {
  margin: 2rem 0;
}
