@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

html {
  font-size: 10px;
  --white: #ffffff;
  --dark-1: #2f3136;
  --dark-2: #262626;
  --pink: #eb2f96;
  --bg-pink: #fff9fb;
  --purple: #7b61ff;
  --bg-purple: #fcfafd;
  --blue: #2f54eb;
  --bg-blue: #f7faff;
  --green: #52c41a;
  --bg-green: #f8fef1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation: fade-in 0.35s ease-in-out;
  font-family: 'Rubik', sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: var(--white);
  color: var(--dark-1);
}

a {
  color: var(--dark-1);
  font-size: 1.4rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.4rem;
}

@media only screen and (max-width: 72rem) {
  :root {
    font-size: calc(100vw * 10 / 1440);
  }
}

@media only screen and (max-width: 48rem) {
  :root {
    font-size: calc(100vw * 10 / 360);
  }
}
